{namespace pw=PwCommentsTeam\PwComments\ViewHelpers}<f:translate key="tx_pwcomments.notificationMail.salutation" />
<f:if condition="{settings.moderateNewComments}"><f:then><f:translate key="tx_pwcomments.notificationMail.newCommentWithModerationHasBeenSubmitted" /></f:then><f:else><f:translate key="tx_pwcomments.notificationMail.newCommentHasBeenSubmitted" /></f:else></f:if>

<f:translate key="tx_pwcomments.notificationMail.linkToArticle" />
<f:format.raw>{articleLink}</f:format.raw>
<f:if condition="{settings.moderateNewComments}">
<f:translate key="tx_pwcomments.notificationMail.linkToApproval" />
<f:format.raw>{backendLink}</f:format.raw>
</f:if>
---------------------------------------------------
<f:translate key="tx_pwcomments.notificationMail.name" />{f:if(condition: '{comment.author}', then: '{comment.author.username} {f:translate(key:\'tx_pwcomments.notificationMail.registred\')}', else: '{comment.authorName}')}
<f:translate key="tx_pwcomments.notificationMail.mail" />{f:if(condition: '{comment.author}', then: '{comment.author.email}', else: '{comment.authorMail}')}

<f:translate key="tx_pwcomments.notificationMail.comment" />
{comment.message}